/*

    green : rgb(0, 122, 11)
    text primary : rgba(41, 41, 41, 1)
    yellow : #ff971e

    font 
    font-family: 'Abril Fatface', serif;
    font-family: 'Assistant', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;

    text-color-primary = #333333
    text-gray-3 = #828282

*/
body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  color: #333333;
}

.navbar-brand img {
  max-height: 60px;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Assistant', sans-serif;
  font-weight: 500;
  color: #333333;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #ff971e;
}

.btn-navbar {
  background-color: #007a0b;
  color: white;
}

header {
  padding: 190px 0px 165px;
  background-image: url("../images/bromo.jpg");
  background-size: cover;
}

header h1, header p {
  color: white;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

header .btn-get-started {
  background-color: #ff971e;
  color: white;
}

header .btn-get-started:hover {
  background-color: #A4DE02;
  color: white;
}

.section-kegiatan h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 30px;
}

.section-kegiatan-content a {
  text-decoration: none;
  color: #333333;
}

.section-kegiatan-content .card-kegiatan {
  border: none;
  min-height: 380px;
}

.section-kegiatan-content .card-kegiatan h3 {
  font-weight: bold;
  font-size: 20px;
  max-lines: 4;
}

.section-kegiatan-content .card-kegiatan p {
  font-size: 16px;
  font-weight: normal;
  max-lines: 2;
}

.section-artikel h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 30px;
}

.section-artikel-content img {
  height: 170px;
}

.section-artikel-content h3 {
  font-weight: bold;
  font-size: 18px;
  max-lines: 4;
}

.section-artikel-content p {
  font-size: 16px;
  font-weight: normal;
  max-lines: 2;
  color: #484848;
}

.section-artikel-content a {
  text-decoration: none;
  color: #333333;
}

.section-support h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 30px;
}

.section-support p {
  font-size: 16px;
  font-weight: normal;
  max-lines: 2;
}

.section-support-content {
  background-color: white;
}

.section-support-content .support-logo {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 50%;
  max-height: 50%;
}

.content-detail .container-photo {
  display: block;
}

.content-detail .container-photo .photo {
  width: 100%;
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.content-detail .content-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  color: #333333;
  font-family: 'Source Sans Pro', sans-serif;
}

.content-detail h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 35px;
  color: #333333;
  letter-spacing: 0.05em;
}

.content-detail h3 {
  margin-top: 20px;
  color: #484848;
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.section-footer img {
  max-height: 60px;
  margin-bottom: 10px;
}

.section-footer a {
  color: #333333;
}

.section-footer a.hover {
  color: #ff971e;
}

.section-footer h5 {
  font-weight: bold;
}

.section-footer p {
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */